[Unit]
Description=sonarr

[Container]
AutoUpdate=registry
ContainerName=sonarr
EnvironmentFile=%h/selfhost/apps/sonarr/environments/local.env
Image=ghcr.io/linuxserver/sonarr:latest
Network=pasta:--map-host-loopback,10.0.2.2
PublishPort=127.0.0.1:8065:8065
Volume=%h/selfhost/apps/sonarr/volumes/config:/config
Volume=%h/media:/media

[Service]
Restart=always

[Install]
WantedBy=default.target
