[Unit]
Description=mkvtoolnix

[Container]
AutoUpdate=registry
ContainerName=mkvtoolnix
EnvironmentFile=%h/selfhost/apps/mkvtoolnix/environments/local.env
Image=docker.io/jlesage/mkvtoolnix:latest
PublishPort=5800:5800
Volume=%h/selfhost/apps/mkvtoolnix/volumes/config:/config
Volume=%h/media:/storage
Volume=/mnt/ssd/home/Media:/storage-ssd

[Install]
WantedBy=default.target
