[Unit]
Description=aria2

[Container]
AutoUpdate=registry
ContainerName=aria2
EnvironmentFile=%h/selfhost/apps/aria2/environments/local.env
Image=docker.io/p3terx/aria2-pro:latest
PublishPort=127.0.0.1:8062:6800
PublishPort=6888:6888
PublishPort=6888:6888/udp
Volume=%h/selfhost/apps/aria2/volumes/config:/config
Volume=%h/media/Downloads/aria2:/downloads
Volume=%h/selfhost/apps/aria2/scripts/apply-overrides.sh:/etc/cont-init.d/48-apply-overrides:ro
Volume=%h/selfhost/apps/aria2/configs/local.aria2.conf.overrides:/etc/aria2-overrides.conf:ro

[Service]
Restart=always

[Install]
WantedBy=default.target
