# Enabling/Disabling Use of UNIX SOCKET
UDS=0

# Can Define Which IP:PORT to Use
BIND=0.0.0.0:8080

# Can Define Which SOCKET to Use
#BIND_UNIX=

# IPv4 Only Mode, Disables IPv6
IPV4_ONLY=0

# Hashing Secret
HASH_SECRET={{.secret}}

# Disable Image Encoding(Compressing Images to webp/avif)
DISALLOW_IMAGE_TRANSCODING=0

# Settings Realted to Proxy
# Allows for Using Proxy
PROXY={{.proxy-host}}
# Proxy User & Password
PROXY_USER={{.proxy-username}}
PROXY_PASS={{.proxy-password}}
