[Unit]
Description=radarr

[Container]
AutoUpdate=registry
ContainerName=radarr
EnvironmentFile=%h/selfhost/apps/radarr/environments/local.env
Image=ghcr.io/linuxserver/radarr:latest
Network=pasta:--map-host-loopback,10.0.2.2
PublishPort=127.0.0.1:8064:8064
Volume=%h/selfhost/apps/radarr/volumes/config:/config
Volume=%h/media:/media

[Service]
Restart=always

[Install]
WantedBy=default.target
