[Unit]
Description=piped-db

[Container]
AutoUpdate=registry
ContainerName=piped-db
EnvironmentFile=%h/selfhost/apps/piped/environments/piped-db.env
Group=1001
Image=docker.io/postgres:15-alpine
PublishPort=127.0.0.1:5432:5432
User=1001
Volume=%h/selfhost/apps/piped/volumes/piped-db/data:/var/lib/postgresql/data

[Service]
Restart=always

[Install]
WantedBy=default.target
