# Tailscale Auth
TS_AUTHKEY=tskey-auth-XXXXXXXXXXXXXXXX

# Persisting Tailscale Auth Session
TS_STATE_DIR=/var/lib/tailscale

# Proxy all incoming Tailscale traffic to the specified destination IP
TS_DEST_IP=10.0.2.2

# Accept DNS configuration from the admin console. Not accepted by default.
TS_ACCEPT_DNS=false

# Advertise Routes
#TS_ROUTES=10.0.2.0/24

# Extra Parameters for Tailscaled CLI
#TS_EXTRA_ARGS=--accept-routes

# Enable userspace networking, instead of kernel networking. Enabled by default.
TS_USERSPACE=0

# Use the specified hostname for the node
TS_HOSTNAME=aevion
