[Unit]
Description=beaverhabits

[Container]
AutoUpdate=registry
ContainerName=beaverhabits
EnvironmentFile=%h/selfhost/apps/beaverhabits/environments/local.env
Group=1001
Image=docker.io/daya0576/beaverhabits:latest
PublishPort=127.0.0.1:8053:8080
User=1001
Volume=%h/selfhost/apps/beaverhabits/volumes/data:/app/.user

[Service]
Restart=always

[Install]
WantedBy=default.target
