[Unit]
Description=libmedium

[Container]
AutoUpdate=registry
ContainerName=libmedium
Group=1001
Image=docker.io/realaravinth/libmedium:latest
PublishPort=127.0.0.1:8014:7000
User=1001
Volume=%h/selfhost/apps/libmedium/configs/local.toml:/etc/libmedium/config.toml

[Service]
Restart=always

[Install]
WantedBy=default.target
