[Unit]
Description=podman-exporter

[Container]
AutoUpdate=registry
ContainerName=podman-exporter
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
Image=quay.io/navidys/prometheus-podman-exporter:v1.10.1
PublishPort=9882:9882
SecurityLabelDisable=true
UserNS=keep-id:uid=65534
Volume=/run/user/1001/podman/podman.sock:/run/podman/podman.sock

[Service]
Restart=always

[Install]
WantedBy=default.target
