[Unit]
Description=navidrome

[Container]
AutoUpdate=registry
ContainerName=navidrome
EnvironmentFile=%h/selfhost/apps/navidrome/environments/local.env
Group=1001
Image=docker.io/deluan/navidrome:latest
PublishPort=127.0.0.1:8043:4533
User=1001
Volume=%h/selfhost/apps/navidrome/volumes/data:/data
Volume=%h/media/Songs:/music

[Service]
Restart=always

[Install]
WantedBy=default.target
