[Unit]
Description=wger-celery-worker

[Container]
AutoUpdate=registry
ContainerName=wger-celery-worker
Image=docker.io/wger/server:latest
Network=pasta:--map-host-loopback,10.0.2.2
Volume=%h/selfhost/apps/wger/volumes/wger-web/media:/home/wger/media
EnvironmentFile=%h/selfhost/apps/wger/environments/wger-web.env
Exec=/start-worker

[Service]
Restart=always
MemoryMax=512M

[Install]
WantedBy=default.target
