[Unit]
Description=wger-db

[Container]
AutoUpdate=registry
ContainerName=wger-db
Group=1001
Image=docker.io/postgres:15-alpine
Network=pasta
PublishPort=127.0.0.1:5433:5432
User=1001
Volume=%h/selfhost/apps/wger/volumes/wger-db/data:/var/lib/postgresql/data
EnvironmentFile=%h/selfhost/apps/wger/environments/wger-db.env

[Service]
Restart=always

[Install]
WantedBy=default.target
