[Unit]
Description=wger-web

[Container]
AutoUpdate=registry
ContainerName=wger-web
Image=docker.io/wger/server:latest
Network=pasta:--map-host-loopback,10.0.2.2
PublishPort=127.0.0.1:8051:8000
Volume=%h/selfhost/apps/wger/volumes/wger-web/static:/home/wger/static
Volume=%h/selfhost/apps/wger/volumes/wger-web/media:/home/wger/media
EnvironmentFile=%h/selfhost/apps/wger/environments/wger-web.env

[Service]
Restart=always

[Install]
WantedBy=default.target
