[Unit]
Description=wger-cache

[Container]
AutoUpdate=registry
ContainerName=wger-cache
Group=1001
Image=docker.io/redis:7-alpine
Network=pasta
PublishPort=127.0.0.1:6379:6379
User=1001
Volume=%h/selfhost/apps/wger/volumes/wger-cache/data:/data

[Service]
Restart=always

[Install]
WantedBy=default.target
