[Unit]
Description=readarr

[Container]
AutoUpdate=registry
ContainerName=readarr
EnvironmentFile=%h/selfhost/apps/readarr/environments/local.env
Image=ghcr.io/alvaroestradadev/bookshelf:hardcover
Network=pasta:--map-host-loopback,10.0.2.2
PublishPort=127.0.0.1:8067:8067
Volume=%h/selfhost/apps/readarr/volumes/config:/config
Volume=%h/media:/media

[Service]
Restart=always

[Install]
WantedBy=default.target
