[Unit]
Description=prowlarr

[Container]
AutoUpdate=registry
ContainerName=prowlarr
EnvironmentFile=%h/selfhost/apps/prowlarr/environments/local.env
Image=ghcr.io/linuxserver/prowlarr:latest
Network=pasta:--map-host-loopback,10.0.2.2
PublishPort=127.0.0.1:8060:8060
Volume=%h/selfhost/apps/prowlarr/volumes/config:/config

[Service]
Restart=always

[Install]
WantedBy=default.target
