# Load configurations from an external config file
ND_CONFIGFILE=/navidrome.toml

# Folder where your music library is stored. Can be read-only
ND_MUSICFOLDER=/music

# Folder to store application data (DB)
ND_DATAFOLDER=/data

# Folder to store cache data (transcoding, images…)
ND_CACHEFOLDER=/cache

# Log level. Useful for troubleshooting. Possible values: error, warn, info, debug, trace
ND_LOGLEVEL=info

# Address the server will bind to. Can be an IPv4 or IPv6. Also supports unix:/path/to/file for Unix socket files
ND_ADDRESS=0.0.0.0

# Base URL to configure Navidrome behind a proxy (examples: /music, https://music.example.com)
ND_BASEURL=

# HTTP port Navidrome will use
ND_PORT=4533
