[Unit]
Description=filebrowser

[Container]
AutoUpdate=registry
ContainerName=filebrowser
EnvironmentFile=%h/selfhost/apps/filebrowser/environments/local.env
Image=docker.io/filebrowser/filebrowser:latest
PodmanArgs=--group-add 1001
PublishPort=127.0.0.1:8032:8080
UserNS=keep-id
Volume=%h/selfhost/apps/filebrowser/volumes/database:/database
Volume=%h/selfhost/apps/filebrowser/volumes/config:/config
Volume=%h/media:/srv

[Install]
WantedBy=default.target
