[Unit]
Description=redlib

[Container]
AutoUpdate=registry
ContainerName=redlib
EnvironmentFile=%h/selfhost/apps/redlib/environments/safe.env
Group=1001
Image=quay.io/redlib/redlib:latest
PublishPort=127.0.0.1:8013:8080
User=1001

[Service]
Restart=always

[Install]
WantedBy=default.target
