[Unit]
Description=audiobookshelf

[Container]
AutoUpdate=registry
ContainerName=audiobookshelf
EnvironmentFile=%h/selfhost/apps/audiobookshelf/environments/rootless.env
Group=1001
Image=ghcr.io/advplyr/audiobookshelf:latest
PublishPort=127.0.0.1:8042:8080
User=1001
Volume=%h/selfhost/apps/audiobookshelf/volumes/config:/config
Volume=%h/selfhost/apps/audiobookshelf/volumes/metadata:/metadata
Volume=%h/media/Books:/audiobooks

[Service]
Restart=always

[Install]
WantedBy=default.target
