[Unit]
Description=priviblur

[Container]
AutoUpdate=registry
ContainerName=priviblur
Image=ghcr.io/jollysleeper/priviblur:master
PublishPort=127.0.0.1:8110:8000
Volume=%h/selfhost/apps/priviblur/configs/config.toml:/priviblur/config.toml:ro,Z

[Service]
Restart=always

[Install]
WantedBy=default.target
