TAILSCALE_AUTH_KEY=COPY / PASTE AUTH KEY HERE

# Use the specified hostname for the node
TAILSCALE_HOSTNAME=aevion

TS_AUTHKEY=tskey-auth-ab1CDE2CNTRL-0123456789abcdef

TS_STATE_DIR=/var/lib/tailscale
