[Unit]
Description=paperless-ngx

[Container]
AutoUpdate=registry
ContainerName=paperless-ngx
EnvironmentFile=%h/selfhost/apps/paperless-ngx/environments/local.env
Image=ghcr.io/paperless-ngx/paperless-ngx:latest
Network=pasta:--map-host-loopback,10.0.2.2
PublishPort=127.0.0.1:8033:8000
Volume=%h/selfhost/apps/paperless-ngx/volumes/data:/usr/src/paperless/data
Volume=%h/selfhost/apps/paperless-ngx/volumes/media:/usr/src/paperless/media
Volume=%h/selfhost/apps/paperless-ngx/volumes/export:/usr/src/paperless/export
Volume=%h/selfhost/apps/paperless-ngx/volumes/consume:/usr/src/paperless/consume

[Service]
Restart=always

[Install]
WantedBy=default.target
